In [1]:
from google.colab import files
uploaded = files.upload()

Saving dataiklim.csv to dataiklim.csv

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

file = "dataiklim.csv"
df = pd.read_csv(file)

In [3]:
df.head()

,Tanggal,TemperaturMinimum,TemperaturMaksimum,TemperaturRataRata,KelembapanRataRata,KecepatanAnginMaksimum,KecepatanAnginRataRata
0,01/01/2022,25.0,32.4,28.9,75.0,3.0,1.0
1,02/01/2022,26.6,32.4,28.2,82.0,6.0,2.0
2,03/01/2022,25.8,32.8,29.2,72.0,5.0,2.0
3,04/01/2022,25.8,32.4,28.9,71.0,5.0,1.0
4,05/01/2022,26.6,33.0,29.4,75.0,5.0,1.0

In [4]:
df.iloc[-6:]

,Tanggal,TemperaturMinimum,TemperaturMaksimum,TemperaturRataRata,KelembapanRataRata,KecepatanAnginMaksimum,KecepatanAnginRataRata
359,12/29/2022,23.4,29.2,26.2,84.0,5.0,1.0
360,12/30/2022,24.0,30.6,26.3,87.0,3.0,NaN
361,12/31/2022,24.6,29.6,26.2,86.0,7.0,1.0
362,01/01/2023,23.6,29.8,26.3,87.0,4.0,1.0
363,02/01/2023,24.2,29.4,27.5,81.0,4.0,2.0
364,03/01/2023,25.0,29.6,26.6,82.0,6.0,1.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Tanggal                 365 non-null    object
 1   TemperaturMinimum       359 non-null    float64
 2   TemperaturMaksimum      363 non-null    float64
 3   TemperaturRataRata      365 non-null    float64
 4   KelembapanRataRata      364 non-null    float64
 5   KecepatanAnginMaksimum  363 non-null    float64
 6   KecepatanAnginRataRata  327 non-null    float64
dtypes: float64(6), object(1)
memory usage: 20.1+ KB

In [6]:
df.columns

Index(['Tanggal', 'TemperaturMinimum', 'TemperaturMaksimum',
       'TemperaturRataRata', 'KelembapanRataRata', 'KecepatanAnginMaksimum',
       'KecepatanAnginRataRata'],
      dtype='object')

In [7]:
duplicated = df.duplicated().sum()
print("there are %d duplicated records" %(duplicated))

there are 0 duplicated records

In [8]:
dff = df.copy()

In [9]:
#tampilkan missing data and urutkan dalam urutan secara ascending (naik)
missingDataSummary = dff.isna().sum()

#hitung persentase of missing data
missingDataPercentage = (dff.isnull().sum()/dff.shape[0])

#gabungkan dua seri
missingData = pd.concat([missingDataSummary,
missingDataPercentage], axis=1, keys=['Missing',
'Percentage'])
missingData.sort_values(ascending=False, by='Missing')

                        Missing  Percentage
KecepatanAnginRataRata       38    0.104110
TemperaturMinimum             6    0.016438
TemperaturMaksimum            2    0.005479
KecepatanAnginMaksimum        2    0.005479
KelembapanRataRata            1    0.002740
Tanggal                       0    0.000000
TemperaturRataRata            0    0.000000

In [10]:
dff.info()
dff.isna().sum()
dff[dff['KecepatanAnginRataRata'].isna()]

dff['KecepatanAnginRataRata'] = dff['KecepatanAnginRataRata'].fillna(dff['KecepatanAnginRataRata'].ffill())

dff.isna().sum().sort_values(ascending=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Tanggal                 365 non-null    object
 1   TemperaturMinimum       359 non-null    float64
 2   TemperaturMaksimum      363 non-null    float64
 3   TemperaturRataRata      365 non-null    float64
 4   KelembapanRataRata      364 non-null    float64
 5   KecepatanAnginMaksimum  363 non-null    float64
 6   KecepatanAnginRataRata  327 non-null    float64
dtypes: float64(6), object(1)
memory usage: 20.1+ KB

TemperaturMinimum         6
TemperaturMaksimum        2
KecepatanAnginMaksimum    2
KelembapanRataRata        1
Tanggal                   0
TemperaturRataRata        0
KecepatanAnginRataRata    0
dtype: int64

In [11]:
dff.info()
dff.isna().sum()
dff[dff['TemperaturMinimum'].isna()]

dff['TemperaturMinimum'] = dff['TemperaturMinimum'].fillna(dff['TemperaturMinimum'].ffill())

dff.isna().sum().sort_values(ascending=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Tanggal                 365 non-null    object
 1   TemperaturMinimum       359 non-null    float64
 2   TemperaturMaksimum      363 non-null    float64
 3   TemperaturRataRata      365 non-null    float64
 4   KelembapanRataRata      364 non-null    float64
 5   KecepatanAnginMaksimum  363 non-null    float64
 6   KecepatanAnginRataRata  365 non-null    float64
dtypes: float64(6), object(1)
memory usage: 20.1+ KB

TemperaturMaksimum        2
KecepatanAnginMaksimum    2
KelembapanRataRata        1
Tanggal                   0
TemperaturMinimum         0
TemperaturRataRata        0
KecepatanAnginRataRata    0
dtype: int64

In [13]:
dff.info()
dff.isna().sum()
dff[dff['TemperaturMaksimum'].isna()]

dff['TemperaturMaksimum'] = dff['TemperaturMaksimum'].fillna(dff['TemperaturMaksimum'].ffill())

dff.isna().sum().sort_values(ascending=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Tanggal                 365 non-null    object
 1   TemperaturMinimum       365 non-null    float64
 2   TemperaturMaksimum      363 non-null    float64
 3   TemperaturRataRata      365 non-null    float64
 4   KelembapanRataRata      364 non-null    float64
 5   KecepatanAnginMaksimum  363 non-null    float64
 6   KecepatanAnginRataRata  365 non-null    float64
dtypes: float64(6), object(1)
memory usage: 20.1+ KB

KecepatanAnginMaksimum    2
KelembapanRataRata        1
Tanggal                   0
TemperaturMinimum         0
TemperaturMaksimum        0
TemperaturRataRata        0
KecepatanAnginRataRata    0
dtype: int64

In [14]:
dff.info()
dff.isna().sum()
dff[dff['KecepatanAnginMaksimum'].isna()]

dff['KecepatanAnginMaksimum'] = dff['KecepatanAnginMaksimum'].fillna(dff['KecepatanAnginMaksimum'].ffill())

dff.isna().sum().sort_values(ascending=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Tanggal                 365 non-null    object
 1   TemperaturMinimum       365 non-null    float64
 2   TemperaturMaksimum      365 non-null    float64
 3   TemperaturRataRata      365 non-null    float64
 4   KelembapanRataRata      364 non-null    float64
 5   KecepatanAnginMaksimum  363 non-null    float64
 6   KecepatanAnginRataRata  365 non-null    float64
dtypes: float64(6), object(1)
memory usage: 20.1+ KB

KelembapanRataRata        1
Tanggal                   0
TemperaturMinimum         0
TemperaturMaksimum        0
TemperaturRataRata        0
KecepatanAnginMaksimum    0
KecepatanAnginRataRata    0
dtype: int64

In [15]:
dff.info()
dff.isna().sum()
dff[dff['KelembapanRataRata'].isna()]

dff['KelembapanRataRata'] = dff['KelembapanRataRata'].fillna(dff['KelembapanRataRata'].ffill())

dff.isna().sum().sort_values(ascending=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Tanggal                 365 non-null    object
 1   TemperaturMinimum       365 non-null    float64
 2   TemperaturMaksimum      365 non-null    float64
 3   TemperaturRataRata      365 non-null    float64
 4   KelembapanRataRata      364 non-null    float64
 5   KecepatanAnginMaksimum  365 non-null    float64
 6   KecepatanAnginRataRata  365 non-null    float64
dtypes: float64(6), object(1)
memory usage: 20.1+ KB

Tanggal                   0
TemperaturMinimum         0
TemperaturMaksimum        0
TemperaturRataRata        0
KelembapanRataRata        0
KecepatanAnginMaksimum    0
KecepatanAnginRataRata    0
dtype: int64

In [16]:
dff.to_excel('/content/CleanDataIklim.xlsx', index=False)